node_modules
.git
.github
Dockerfile*
docker-compose.yml
docker-compose.local.yml
docker-compose.server.yml
npm-debug.log
frontend/node_modules
frontend/.next
backend/node_modules
logs
.env
.env.prod
.env.*
!.env.example